<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/colors.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <title>SENAC</title>
</head>

<body>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Senac_logo.svg/2560px-Senac_logo.svg.png" alt="Logo senac">
    <h1>Obrigado por se cadastrar!</h1>
</body>

</html>

<style>
    :root {
        --primary-color: rgb(22, 22, 73);
        --secondary-color: rgb(245, 160, 0);
        --bg-color: rgb(22, 22, 22);
        --text-color: white;
        --bg-secondary-color: rgb(32, 32, 32);
        --text-secondary-color: rgb(180, 180, 180);
    }

    * {
        /* outline: 2px solid red; */
    }

    img{
        max-width: 200px;
    }
    body {
        background-color: var(--bg-color);
        font-family: 'Poppins', Arial;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        justify-content: center;
        padding: 16px;
    }

    h1 {
        color: var(--secondary-color);
        font-size: 56px;
        font-family: 'Poppins', Arial;
        font-weight: bold;
        line-height: 48px;
        background-color: var(--primary-color);
        padding: 32px 16px;
        border-radius: 8px;
        margin-top: 0px;
    }

    h1:hover {
        transform: scale(1.05);
    }
</style>